<h1>Estágios</h1>
<div class="stages-container">
    <div class="actions">
        <i><a href="/"><span class="material-symbols-outlined">home</span></a></i>
        <i><a href="/registrations"><span class="material-symbols-outlined">arrow_back</span></a></i>
        <i><a href="/createstage"><span class="material-symbols-outlined">add_circle</span></a></i>
    </div>    
    {{#if stages}}
    <table class="stages-class">
    <tr>
        <th>Cód</th>
        <th>Status</th>
        <th>Descrição</th>
        <th>Ações</th>
    </tr>

    {{#each stages}}
    <tr>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.description}}</td>
        <td>
            <div class="actions">
                <a href="/stage/{{this.id}}"><i><span class="material-symbols-outlined">file_open</span></i></a>
                <a href="/stageedit/{{this.id}}"><i><span class="material-symbols-outlined">edit</span></i></a>
                <a href="/stages/remove/{{this.id}}"><i><span class="material-symbols-outlined">delete</span></i></a>
            </div>  
        </td>
    </tr>        
    {{/each}}
    </table>
    {{else}}
    <h3>Nenhum estágio cadastrado</h3>
    {{/if}}
</div>