<H1>Cadastro de Insumo</H1>
<a href="/inputs">Voltar</a>
<form action="/insertinput" method="POST" class="form">
    <div class="form-control">
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="Digite o Nome">
    </div>
    <div class="form-control">
        <label for="description">Descrição:</label>
        <input type="text" name="description" placeholder="Descrição do insumo">
    </div>
    <div class="form-control">
        <label for="price">Valor:</label>
        <input type="float" name="price" placeholder="Digite o valor" >
    </div>
    <div class="form-control">
        <label for="efficiency">Rendimento:</label>
        <input type="text" name="efficiency" placeholder="Digite o rendimento">
    </div>
    <div class="form-control">
        <label for="provider_id">Fornecedor</label>
        <select name="provider_id">
            <option value=''>Selecione o Fornecedor</option>
            {{#each providers}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-control">
        <label for="machine_id">Máquina</label>
        <select name="machine_id">
            <option value="">Selecione a máquina</option>
            {{#each machines}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-control">
        <label for="printer_id">Impressora</label>
        <select name="printer_id">
            <option value="">Selecione a impressora</option>
            {{#each printers}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div>
    <input type="submit" value="Cadastrar">
</form>
