<h1>Editar Máquina</h1>
<div class="actions">
    <a href="/machine/{{machine.id}}"><span class="material-symbols-outlined">arrow_back</span></a>
</div>
<form action="/machines/updatemachine" method="POST" class="form">
    <input type="hidden" name="id" value="{{machine.id}}">
    <div class="form-control">
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="Digite o nome" value="{{machine.name}}">
    </div>
    <div class="form-control">
        <label for="hour_price">Hora Máquina:</label>
        <input type="text" name="hour_price" placeholder="Informe o valor Hora R$" value="{{machine.hour_price}}">
    </div>
    <div class="form-control">
        <label for="preparation_time">Tempo de preparação:</label>
        <input type="text" name="preparation_time" placeholder="Digite o tempo de preparação" value="{{machine.preparation_time}}">
    </div>
    <div class="form-control">
        <label for="width">Largura:</label>
        <input type="float" name="width" placeholder="Digite a largura máxima do papel" value="{{machine.width}}">
    </div>
    <div class="form-control">
        <label for="height">height:</label>
        <input type="float" name="height" placeholder="Digite a altura máxima do papel" value="{{machine.height}}">
    </div>
    <div class="form-control">
        <label for="height">Descrição:</label>
        <input type="float" name="description" placeholder="Descrição da máquina" value="{{machine.description}}">
    </div>
    <input type="submit" value="Editar">
</form>