<h1>Orçamentos</h1>
<div class="container">
    <div class="actions">
        <a title="Página Inicial" href="/"><span class="material-symbols-outlined">home</span></a>
        <a title="Novo Orçamento" href="/createbudget"><span class="material-symbols-outlined">add_circle</span></a>
    </div>
    <div>
        <form action="/budgets/" method="POST" class="form">
            <div class="form-control">
                <label for="search">Pesquisar:</label>
                <input type="text" name="search" placeholder="Digite uma palavra">
                <input type="submit" value="Buscar">
            </div>
        </form>
    </div>      
    {{#if budgets}}
    {{#if budgetsQty}}
    <h4>Encontrados {{budgetsQty}} resultado(s) com a palavra: {{search}}</h4>
    {{/if}}
    <table class="table">
        <tr>
            <th>Data</th>
            <th>Número</th>
            <th>Cliente</th>
            <th>Produto</th>
            <th>Valor</th>
            <th>Ações</th>
        </tr>

        {{#each budgets}}
        
        <tr>
            <td>{{formatDate this.date}}</td>
            <td>{{this.id}}</td>
            {{#if this.client.fantasy}}
            <td>{{this.client.fantasy}}</td>
            {{else}}
            <td>{{this.client.name}}</td>
            {{/if}}
            <td>{{this.name}}, {{this.quantity}} un</td>
            <td>R$ {{formatPrice this.price}}</td>
            <td>
                <div class="actions">
                    <a title="Mostrar Pedido" href="/budget/{{this.id}}"><span class="material-symbols-outlined">order_play</span></a>
                    <a title="Aprovar Pedido" href="/budgets/approved/{{this.id}}"><span class="material-symbols-outlined">done_outline</span></a>
                    <a title="Editar Pedido" href="/budgetedit/{{this.id}}"><span class="material-symbols-outlined">edit</span></a>
                    <a title="Remover Pedido" href="/budgets/remove/{{this.id}}"><i class"danger"><span class="material-symbols-outlined">delete</span></i></a>
                    <a title="Mostar Cliente" href="/client/{{this.client.id}}"><span class="material-symbols-outlined">person</span></a>
                    <a title="Duplicar Orçamento" href="/budgets/clone/{{this.id}}"><span class="material-symbols-outlined">file_copy</span></a>
                </div>                
            </td>
        </tr>
        {{/each}}
    </table>
    <footer>
        {{#if pagination}}
        <div class="pagination">
            {{#if pagination.prev_page_url}}
            <a href="/budgets?page={{pagination.prev_page_url}}">{{pagination.prev_page_url}}</a> -
            {{/if}}{{pagination.page}} {{#if pagination.next_page_url}} -
            <a href="/budgets?page={{pagination.next_page_url}}">{{pagination.next_page_url}}</a>
            {{/if}}
        </div>
        {{/if}}
    </footer>
    {{else}}
    {{#if search}}
    <h4>Não foram encontrados resultados com a palavra: {{search}}</h4>
    {{else}}
    <h3>Não há orçamentos cadastrados!</h3>
    {{/if}}
    {{/if}}
</div>