<h1>Editar processo do orçamento:</h1>
<h2>{{budgettatic.budget.name}}</h2>
<div class="actions">
    <a title="Voltar" href="/budget/{{budgettatic.budget.id}}"><span class="material-symbols-outlined">arrow_back</span></a>
</div>
<form action="/updatetatict/{{budgettatic.tatic.id}}" method="POST" class="form">
<input type="hidden" name="budgettatic_id" value="{{budgettatic.id}}">
<input type="hidden" name="budget_id" value="{{budgettatic.budget.id}}">
    <div class="form-control">
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="Digite o nome" value="{{budgettatic.tatic.name}}">
    </div>
    <div class="form-control">
        <label for="description">Descrição:</label>
        <input type="text" name="description" placeholder="Digite a descrição" value="{{budgettatic.tatic.description}}">
    </div>
    <div class="form-control">
        <label for="minimun_value">Valor Mínimo:</label>
        <input type="dooble" name="minimun_value" placeholder="Digite o valor mínimo" value="{{budgettatic.tatic.minimun_value}}" onkeypress="$(this).mask('R$ #.##0,00', {reverse: true});">
    </div>
    <div class="form-control">
        <label for="preparation_time">Tempo de preparação:</label>
        <input type="text" name="preparation_time" placeholder="Digite o tempo em minutos" value="{{budgettatic.tatic.preparation_time}}">
    </div>
    <div class="form-control">
        <label for="loss">Perda Mínima:</label>
        <input type="text" name="loss" placeholder="Digite a quantidade" value="{{budgettatic.tatic.loss}}">
    </div>
    <div class="form-control">
        <label for="capacity">Capacidade:</label>
        <input type="text" name="capacity" placeholder="Digite a capacidade por hora" value="{{budgettatic.tatic.capacity}}">
    </div>
    <div class="form-control">
        <label for="price">Valor:</label>
        <input type="dooble" name="price" placeholder="Digite o valor hora" value="{{budgettatic.tatic.price}}" onkeypress="$(this).mask('R$ #.##0,00', {reverse: true});">
    </div>
    <div>
        {{#switch budgettatic.tatic.typequantity}}
        {{#case 'total'}}
        <input type="radio" id='total' name="typequantity" value="total" checked>
        <label for="total">Total</label>
        <input type="radio" id='unit' name="typequantity" value="unit">
        <label for="unit">Por unidade do orçamento</label>
        <input type="radio" id='print' name="typequantity" value="print">
        <label for="print">Por impressões</label>
        {{/case}}
        {{#case 'unit'}}
        <input type="radio" id='total' name="typequantity" value="total">
        <label for="total">Total</label>
        <input type="radio" id='unit' name="typequantity" value="unit" checked>
        <label for="unit">Por unidade do orçamento</label>
        <input type="radio" id='print' name="typequantity" value="print">
        <label for="print">Por impressões</label>
        {{/case}}
        {{#case 'print'}}
        <input type="radio" id='total' name="typequantity" value="total">
        <label for="total">Total</label>
        <input type="radio" id='unit' name="typequantity" value="unit">
        <label for="unit">Por unidade do orçamento</label>
        <input type="radio" id='print' name="typequantity" value="print" checked>
        <label for="print">Por impressões</label>
        {{/case}}
        {{/switch}}
    </div>
    <br>
    <div>
        {{#switch budgettatic.tatic.singleprocess}}
        {{#case false}}
        <input type="radio" id='false' name="singleprocess" value='false' checked>
        <label for="false">Único</label>
        <input type="radio" id='true' name="singleprocess" value='true'>
        <label for="true">Reutilizável</label>
        {{/case}}
        {{#case true}}
        <input type="radio" id='false' name="singleprocess" value='false'>
        <label for="false">Único</label>
        <input type="radio" id='true' name="singleprocess" value='true' checked>
        <label for="true">Reutilizável</label>
        {{/case}}
        {{/switch}}
    </div>
    <div class="form-control">
    <input type="submit" value="Atualizar">
    </div>
</form>