<div id="process-page">
    <div class="container">
        <div class="actions">
            <a title="Voltar" href="/budgets"><span class="material-symbols-outlined">
undo
</span></a>
            <a title="Editar Orçamento" href="/budgetedit/{{budget.id}}"><i><span
                        class="material-symbols-outlined">edit</span></i></a>
            <a title="Aprovar Orçamento" href="/budgets/approved/{{budget.id}}"><span
                    class="material-symbols-outlined">check</span></a>
            <a title="Excluir Orçamento" href="/budgets/remove/{{budget.id}}"><span
                    class="material-symbols-outlined">delete</span></a>
        </div>
        <table>
            <h1>{{budget.id}} - {{budget.client.name}}</h1>
            <tr>
                <th>Data</th>
                <th>Quantidade</th>
                <th>Produto</th>
                <th>Markup</th>
                <th>Previsão</th>
                <th>Tipo</th>
                {{#if budget.tatics_value}}
                <th>Processo</th>
                {{/if}}
                {{#if budget.materials_value}}
                <th>Material</th>
                {{/if}}
                {{#if budget.prints_value}}
                <th>Impressão</th>
                {{/if}}
                {{#if budget.price}}
                <th>Valor</th>
                {{/if}}
            </tr>
            <tr>
                <td>{{formatDate budget.date}}</td>
                <td>{{budget.quantity}}</td>
                <td>{{budget.name}}</td>
                <td>{{budget.markup}}</td>
                {{#if budget.prevision}}
                <td>{{budget.prevision}} dia(s)</td>
                {{else}}
                <td>Não há previsão</td>
                {{/if}}
                <td>{{budget.type}}</td>
                {{#if budget.tatics_value}}
                <td>R$ {{formatPrice budget.tatics_value}}</td>
                {{/if}}
                {{#if budget.materials_value}}
                <td>R$ {{formatPrice budget.materials_value}}</td>
                {{/if}}
                {{#if budget.prints_value}}
                <td>R$ {{formatPrice budget.prints_value}}</td>
                {{/if}}
                {{#if budget.price}}
                <td>R$ {{formatPrice budget.price}}</td>
                {{/if}}
            </tr>
        </table>
        <p>{{budget.obs}}</p>
    </div>
    
    <div class="container">
        {{#if budget.prints}}
        <table>
            <input type="hidden" name="budget_id" value="{{budget.id}}">
            <h3>Impressões</h3>
            <tr>
                <th>Descrição</th>
                <th>Papel</th>
                <th>Quant</th>
                <th>Lados</th>
                <th>Tamanho</th>
                <th>Formato</th>
                <th>Papel</th>
                <th>Originais</th>
                <th>Cobertura</th>
                <th>Custo</th>
                <th>Ações</th>
            </tr>
            {{#each budget.prints}}
            <tr>
                <td>{{this.description}}</td>
                <td>{{this.paper.name}}</td>
                <td>{{this.quantity}}</td>
                <td>{{this.sides}}</td>
                <td>{{this.width}} x {{this.height}}</td>
                <td>{{this.format}}</td>
                <td>{{this.paperwidth}} x {{this.paperheight}}</td>
                <td>{{this.printformat}}</td>
                <td>{{this.coverage}}%</td>
                <td>R$ {{formatPrice this.amount}}</td>
                <td><a title="Excluir Impressão" href="/deleteprint/{{this.id}}"><span
                            class="material-symbols-outlined">delete</span></a>
                    <a title="Editar Impressão" href="/editprint/{{this.id}}"><i><span
                                class="material-symbols-outlined">edit</span></i></a>
                                </td>
            </tr>
            {{/each}}
        </table>
        <p><a title="Adicionar Impressão" href="/selectprinter/{{budget.id}}"><span
                    class="material-symbols-outlined">add</span></a></p>
        {{else}}
        <table>
            <h4>Não há Impressões</h4>
            <a title="Adicionar Impressão" href="/createprint/{{budget.id}}"><span
                    class="material-symbols-outlined">add</span></a>
        </table>
        {{/if}}
    </div>
    
    <div class="container">
        {{#if budget.budgettatics}}
        <table>
            <h3>Processos</h3>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Valor Mínimo</th>
                <th>Tempo preparo</th>
                <th>Perda</th>
                <th>Capacidade</th>
                <th>Tempo</th>
                <th>Hora</th>
                <th>Valor Unit</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
            {{#each budget.budgettatics}}
            <tr>
                <td>{{this.tatic.name}}</td>
                <td>{{this.tatic.description}}</td>
                <td>R$ {{formatPrice this.tatic.minimun_value}}</td>
                <td>{{this.tatic.preparation_time}}min</td>
                <td>{{this.tatic.loss}}</td>
                <td>{{this.tatic.capacity}} /h</td>
                <td>{{formatDecimal this.time}}h</td>
                <td>R$ {{formatPrice this.tatic.price}} </td>
                <td>R$ {{formatPrice this.hourprice}}</td>
                <td>R$ {{formatPrice this.amount}}</td>
                <td>
                    <a title="Excluir Processo" href="/deletetatic/{{this.id}}"><span
                            class="material-symbols-outlined">delete</span></a>
                    {{#if this.tatic.singleprocess}}
                    <a title="Ver Processo" href="/tatic/{{this.tatic_id}}"><i><span class="material-symbols-outlined">file_open</span></i></a>
                    {{else}}
                    <a title="Editar Processo" href="/budgettaticedit/{{this.id}}"><i><span
                                class="material-symbols-outlined">edit</span></i></a>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </table>
        <p><a title="Adicionar Processo" href="/createbudgettatics/{{budget.id}}"><span
                    class="material-symbols-outlined">add</span></a></p>
        {{else}}
        <div>
            <h4>Não há Processos</h4>
            <a title="Adicionar Processo" href="/createbudgettatics/{{budget.id}}"><span
                    class="material-symbols-outlined">add</span></a>
        </div>
        {{/if}}
    </div>

    <div class="container">
        {{#if budget.budgetmaterials}}
        <table>
            <h3>Materiais</h3>
            <tr>
                <th>Nome</th>
                <th>largura</th>
                <th>Altura</th>
                <th>Quantidade</th>
                <th>Valor Unit</th>
                <th>Total</th>
                <th>Ações</th>
            </tr>
            {{#each budget.budgetmaterials}}
            <tr>
                <td>{{this.material.name}}</td>
                <td>{{this.material.width}}</td>
                <td>{{this.material.height}}</td>
                <td>{{this.quantity}}</td>
                <td>R$ {{formatPrice this.material.unitprice}}</td>
                <td>R$ {{formatPrice this.amount}}</td>
                <td>
                    <a title="Ver Material" href="/material/{{this.material_id}}"><i><span class="material-symbols-outlined">file_open</span></i></a>
                    <a title="Remorer Material" href="/deletematerial/{{this.id}}"><span class="material-symbols-outlined">delete</span></a>
                    <a title="Editar Material" href="/materialedit/{{this.material_id}}"><i><span class="material-symbols-outlined">edit</span></i></a>        
                </td> 
            </tr>
            {{/each}}
        </table>
        <a title="Adidionar Material" href="/creatematerial/{{budget.id}}"><span
                class="material-symbols-outlined">add</span></a>
        {{else}}
        <table>
            <h4>Não há Materiais</h4>
            <a title="Adidionar Material" href="/creatematerial/{{budget.id}}"><span
                    class="material-symbols-outlined">add</span></a>
        </table>
        {{/if}}
    </div>

    <div class="actions">
        <form action="/calculate/{{budget.id}}" method="GET">
            <input type="submit" value="Calcular">
        </form>
    </div>
</div>