<h1>Inserir material ao orçamento:</h1>
<h2>{{budget.name}}</h2>
<a href="/budget/{{budget.id}}">Voltar</a>
<form action="/selectbudgetmaterial/{{budget.id}}" method="POST" class="form">
    <div class="form-control">
        <label for="material_id">Material:</label>
        <select name="material_id">
            <option value="">Selecione um material</option>
            {{#each materials}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-control">
        <label for="quantity">Quantidade:</label>
        <input type="text" name="quantity" placeholder="Digite a quantidade">
    </div>
    <div>
        <input type="radio" id='false' name="quantforunit" value=false>
        <label for="false">Total</label>
        <input type="radio" id='true' name="quantforunit" value=true checked>
        <label for="true">Por unidade do orçamento</label>
    </div>
    <div class="form-control">
    <input type="submit" value="Cadastrar">
    </div>
</form>
<form action="/savebudgetmaterial/{{budget.id}}" method="POST" class="form">
    <div class="form-control">
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="Digite o Nome">
    </div>
    <div class="form-control">
        <label for="description">Descriçao:</label>
        <input type="text" name="description" placeholder="Digite a Descrição">
    </div>
    <div class="form-control">
        <label for="width">Largura:</label>
        <input type="text" name="width" placeholder="Digite a largura">
    </div>
    <div class="form-control">
        <label for="height">Altura:</label>
        <input type="text" name="height" placeholder="Digite a altura">
    </div>
    <div class="form-control">
        <label for="color">Cor:</label>
        <input type="text" name="color" placeholder="Digite a cor">
    </div>
    <div class="form-control">
        <label for="price">Valor:</label>
        <input type="text" name="price" placeholder="Digite o valor" onkeypress="$(this).mask('R$ #.##0,00', {reverse: true});">
    </div>
    <div class="form-control">
        <label for="efficiency">Rendimento:</label>
        <input type="text" name="efficiency" placeholder="Digite o rendimento">
    </div>
    <div class="form-control">
        <label for="provider_id">Fornecedor</label>
        <select name="provider_id">
            <option value="">Selecione o Fornecedor</option>
            {{#each providers}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-control">
        <label for="quantity">Quantidade:</label>
        <input type="text" name="quantity" placeholder="Digite a quantidade">
    </div>
    <div>
        <input type="radio" id='false' name="quantforunit" value=false>
        <label for="false">Total</label>
        <input type="radio" id='true' name="quantforunit" value=true checked>
        <label for="true">Por unidade do orçamento</label>
    </div>
    <div class="form-control">
    <input type="submit" value="Cadastrar">
    </div>
</form>