<h1>Inserir impressão ao orçamento:</h1>
<h2>{{budget.name}}</h2>
<a href="/budget/{{budget.id}}">Voltar</a>
<form action="/savebudgetprint/{{budget.id}}" method="POST" class="form">
<input type="hidden" name="printer_id" value="{{printer.id}}">
    <div class="form-control">
        <label>Impressora:</label>
        <p>{{printer.name}}</p>
    </div>
    <div class="form-control">
        <label for="paper_id">Papel:</label>
        <select name="paper_id">
            <option value=''>Selecione o Papel</option>
            {{#each papers}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-control">
        <label for="speed_id">velocidade:</label>
        <select name="speed_id">
            <option value=''>Selecione a velocidade</option>
            {{#each speeds}}
            <option value="{{this.id}}">{{this.name}} - {{this.capacity}}/h</option>
            {{/each}}
        </select>
    </div>
    <div class="form-control">
        <label for="description">Descrição:</label>
        <input type="text" id="minhafuncao" name="description" placeholder="Digite a descrição">
    </div>
    <div class="form-control">
        <label for="quantity">Quantidade:</label>
        <input type="text" name="quantity" placeholder="Quantidade por unidade">
    </div>
    <div class="form-control">
        <label for="sides">Lados:</label>
        <select name="sides">
            <option value='1'>Frente</option>
            <option value='2'>Frente e Verso</option>
        </select>
    </div>
    <div class="form-control">
        <label for="width">Largura:</label>
        <input type="text" name="width" placeholder="Digite a largura">
    </div>
    <div class="form-control">
        <label for="height">Altura:</label>
        <input type="text" name="height" placeholder="Digite a altura">
    </div>
   <div class="">
        <label for="electroniccut">Corte:</label>
        <input type="radio" id='0' name="electroniccut" value='false' checked>
        <label for="false">Manual, reto ou sem corte</label>
        <input type="radio" id='1' name="electroniccut" value='true'>
        <label for="true">Eletrônico</label>
    </div>
    <div class="form-control">
        <label for="paperwidth">Largura do papel:</label>
        <input type="text" name="paperwidth" placeholder="Digite a largura do papel">
    </div>
    <div class="form-control">
        <label for="paperheight">Altura do papel:</label>
        <input type="text" name="paperheight" placeholder="Digite a altura do papel">
    </div>
    <div class="">
        <label for="color">Cor:</label>
        <input type="radio" id='0' name="color" value=0>
        <label for="false">Monocromático</label>
        <input type="radio" id='1' name="color" value=1 checked>
        <label for="true">Colorido</label>
    </div>
    <div class="form-control">
        <label for="coverage">Cobertura:</label>
        <input type="text" name="coverage" placeholder="Cobertura %">
    </div>
    <div class="form-control">
    <input type="submit" value="Cadastrar">
    </div>
</form>