<h1>Editar Impressão do orçamento:</h1>
<h2>{{print.budget.name}}</h2>
<div class="actions">
    <a title="Voltar" href="/budget/{{print.budget_id}}"><span class="material-symbols-outlined">arrow_back</span></a>
</div>
<form action="/updatebudgetprint/{{budget.id}}" method="POST" class="form">
<input type="hidden" name="id" value="{{print.budget.id}}">
<input type="hidden" name="print_id" value="{{print.id}}">
<input type="hidden" name="printer_id" value="{{print.printer_id}}">

    <div class="form-control">
        <label>Impressora:</label>
        <p>{{print.printer.name}}</p>
    </div>
    <div class="form-control">
        <label for="paper_id">Papel:</label>
        <select name="paper_id">
            <option value='{{print.paper.id}}'>{{print.paper.name}}</option>
            {{#each papers}}
            <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-control">
        <label for="speed_id">velocidade:</label>
        <select name="speed_id">
            <option value="{{print.speed.id}}">{{print.speed.name}} - {{print.speed.capacity}}/h</option>
            {{#each speeds}}
            <option value="{{this.id}}">{{this.name}} - {{this.capacity}}/h</option>
            {{/each}}
        </select>
    </div>
    <div class="form-control">
        <label for="description">Descrição:</label>
        <input type="text" name="description" placeholder="Digite a descrição" value="{{print.description}}">
    </div>
    <div class="form-control">
        <label for="quantity">Quantidade:</label>
        <input type="text" name="quantity" placeholder="Quantidade por unidade" value="{{print.quantity}}">
    </div>
    <div class="form-control">
        <label for="sides">Lados:</label>
        <select name="sides">
            {{#switch print.sides}}
            {{#case '1'}}
            <option value='1'>Frente</option>
            <option value='1'>Frente</option>
            <option value='2'>Frente e Verso</option>
            {{/case}}
            {{#case '2'}}
            <option value='2'>Frente e Verso</option>
            <option value='1'>Frente</option>
            <option value='2'>Frente e Verso</option>
            {{/case}}
            {{/switch}}
        </select>
    </div>
    <div class="form-control">
        <label for="width">Largura:</label>
        <input type="text" name="width" placeholder="Digite a largura" value="{{print.width}}">
    </div>
    <div class="form-control">
        <label for="height">Altura:</label>
        <input type="text" name="height" placeholder="Digite a altura" value="{{print.height}}">
    </div>
    <div class="">
        {{#switch print.electroniccut}}
        {{#case '0'}}
        <label for="electroniccut">Corte:</label>
        <input type="radio" id='' name="electroniccut" value='false' checked>
        <label for="false">Manual, reto ou sem corte</label>
        <input type="radio" id='' name="electroniccut" value='true'>
        <label for="true">Eletrônico</label>
        {{/case}}
        {{#case '1'}}
        <label for="electroniccut">Corte:</label>
        <input type="radio" id='' name="electroniccut" value='false'>
        <label for="false">Manual, reto ou sem corte</label>
        <input type="radio" id='' name="electroniccut" value='true' checked>
        <label for="true">Eletrônico</label>
        {{/case}}
        {{/switch}}
    </div>
    <div class="form-control">
        <label for="paperwidth">Largura do papel:</label>
        <input type="text" name="paperwidth" placeholder="Digite a largura do papel" value="{{print.paperwidth}}">
    </div>
    <div class="form-control">
        <label for="paperheight">Altura do papel:</label>
        <input type="text" name="paperheight" placeholder="Digite a altura do papel" value="{{print.paperheight}}">
    </div>
    <div class="">
        {{#switch print.color}}
        {{#case '1'}}
        <label for="color">Cor:</label>
        <input type="radio" id='0' name="color" value=0>
        <label for="false">Monocromático</label>
        <input type="radio" id='1' name="color" value=1 checked>
        <label for="true">Colorido</label>
        {{/case}}
        {{#case '0'}}
        <label for="color">Cor:</label>
        <input type="radio" id='0' name="color" value=0 checked>
        <label for="false">Monocromático</label>
        <input type="radio" id='1' name="color" value=1>
        <label for="true">Colorido</label>
        {{/case}}
        {{/switch}}
    </div>
    <div class="form-control">
        <label for="coverage">Cobertura:</label>
        <input type="text" name="coverage" placeholder="Cobertura %" value="{{print.coverage}}">
    </div>
    <div class="form-control">
    <input type="submit" value="Atualizar">
    </div>
</form>